	*{margin: 0; padding: 0; list-style: none;}
		body{background: #e12e27;font-family: "微软雅黑";font-size: 14px;background-image: url("imgss/mOcdke2ZQoE.jpg");}
		a:link,a:visited{text-decoration:none;color: #C24F51;font-size: 16px;}

.parent {
  position: relative;
  display: flex;
  align-items: center;
}
.box1{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1600px;
  height: 1000px;
  background-color: #805D5E; 
	background-image: url("imgss/478.jpg");
  background-size: cover; 
	overflow: hidden;
	 
	 
}
.box2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  top: 0;
  width: 1280px;
  height: 56px;
  background-color: #333333;
 overflow: hidden;

}
.box2 a {
  color: #E7E7E7;   // 黑色
  text-decoration: none;
  margin: 0 20px;
}
.box3 {
  width: 172px;
  height: 45px;
  background-color: #FCFCFC;
  position: absolute;
  left: 460px;
  top: 0;
text-align: center;
font-weight: bold;
font-size: 30px;
}
.nav{
	width: 980px;
	margin: 0 auto;
		}
li{float: right;}
li a{
	display: inline-block;
	height: 91px;
	width: 110px;	
	text-align: center;
	line-height: 70px;
	}
	li a:hover{background: url("") center center;}
	.image-box {
 width: 174px;
  height: 172px;
  position: absolute;
  left: 350px;
  bottom: 150px;
 transform: translate(-50%, -50%)
}

.image-box img {
  width: 100%;
  height: 100%;
}
.box1 samp.text {
  position: absolute;
  bottom: 320px;
	
  left: 540px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;  
}
.box1 h1{
position: absolute;
 bottom: 320px;	
 left: 450px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem;		
		}

		.box1 samp.text1 {
  position: absolute;
  bottom: 280px;
  left: 450px;
  width: 100%;
  color: #fff;
  font-size: 1.2rem; 
	
			}
		.box1 samp.text2 {
  position: absolute;   
  bottom: 65px;
  left: 450px;
 text-align: center;
  color: #fff;
  font-size: 1.2rem;
  line-height:1.5;  
  display: inline-block; 
			width: 500px;
}	
		.spk{
			width: 680px;
			height: 240px;
			background-color: #c6e2ee;
			float: inherit;
			 position: absolute;  
			margin-top: 1700px;
			left: 170px;
			background-image: url("imgss/photo-1682685796014-2f342188a635.jpg");
	border-radius: 30px;
  
		}
		video {
  width: 350px;
  height: 320px;
 aspect-ratio: 16/9;   /* 视频比例16:9 */
 /* width: 100%; /* 播放器宽度100% */
		transform: translateY(700px);	
		left: 300px;
			position: relative; 
		
}
		.spk,spamp.p{
  text-align: center;
    color:#f0bd9f;
    font-size: 1.2rem;
    line-height:1.5;
			font-weight: bold;
			font-size: 16px;
			position: absolute;   
        
			 
		}
	.spk	p {
  position: relative;
  top: 125px;     
			
}
	.spk	h1{
			position: relative;
  top: 111px;    
			
		}
		
		.image-box1{		
		  position: relative; 
  left: 870px;          
  top: 700px;           
  background-color: #983032;
  width: 259px;
			height: 361px; 
			
			
		
		}
		.image-box2{
			position: absolute; 
   position: absolute;
right: 450px;    
  top: 1080px;        
  background-color: #f4f4f4;
  width: 259px;
  height: 190px; 
border-radius: 30px;
background-image: url("imgss/3552.webp");
			background-size: cover;
			
		}	
		.image-box3{ 
  position: absolute;
right: 450px;    
  top: 1290px;        
  background-color: #411E1F;
  width: 259px;
  height: 190px; 
			border-radius: 30px;
			background-image:url("imgss/441.webp");
			background-size: cover;
				}
		.image-box4{ 
  position: absolute;
right: 450px;    
  top: 1500px;        
  background-color: #411E1F;
  width: 259px;
  height: 190px; 
			border-radius: 30px;
		}
		.spk1{
			width: 680px;
			height: 240px;
			background-color: #c6e2ee;
			float: inherit;
			 position: absolute;  
			margin-top: 2300px;
			left: 170px;
			background-image: url("imgss/3554webp.webp");
			background-size: cover;
	
			 background-position: center;
  
			 
	border-radius: 30px;
			
		}
		.spk2{
			width: 680px;
			height: 240px;
			background-color: #c6e2ee;
			float: inherit;
			 position: absolute;  
			margin-top: 2880px;
			left: 170px;
			background-image: url("imgss/3556.webp");
	border-radius: 30px;
			background-size: cover;
			
		}
		.image-box1 img {
      width: 100%;
      height: 100%;
	position: absolute;  
      top: 0;             
      left: 0;   
		}
		.image-box2 h1{
			position: relative;
  top: 25px;
left: 20px;	
			color: #FFFFFF;
			font-weight:bold;
			
		}
		.image-box2 p{
			position: relative;
  top: 70px;
left: 8px;	
			color: #F1F1F1;
			font-weight:bold;
			
		}
		.image-box4 img {
      width: 100%;
      height: 100%;
	position: absolute;  
      top: 0;             
      left: 0;   
		}
		.text2{
			color: #333;
        line-height: 3;
			
		}
		.text2 span{
			background: linear-gradient(to right,#FFFFFF,#fffbf7)no-repeat right bottom;
            background-size: 0 2px;
            transition: background-size 1300ms;
		}
		.text2 span:hover{
			ackground-position-x:  left;
            background-size: 100% 2px;
			
		}
		.dropdown-toggle{
			width: 100px;
			height: 20px;
			background-color: #BD3134;
		}
		.dropdown:hover .nav-menu {
  display: block; 
}
		.nav-menu{ 
			  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 9999; 
		}
		